<?xml version="1.0"?>
<config>
    <modules>
        <Potato_Crawler>
            <version>1.0.6</version>
            <platform>ce</platform>
        </Potato_Crawler>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <po_crawler_set_currency>
                        <type>singleton</type>
                        <class>po_crawler/observer_warmer</class>
                        <method>setCurrency</method>
                    </po_crawler_set_currency>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_add_product_complete>
                <observers>
                    <po_crawler_add_product_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addProductPage</method>
                    </po_crawler_add_product_to_queue>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
    <global>
        <events>
            <controller_front_init_before>
                <observers>
                    <po_crawler_set_customer>
                        <type>singleton</type>
                        <class>po_crawler/observer_warmer</class>
                        <method>setCustomer</method>
                    </po_crawler_set_customer>
                </observers>
            </controller_front_init_before>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAllByFpcClean</method>
                    </po_crawler_queue>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <!--for EE 1.14.3.2 duplicate event here-->
            <controller_action_predispatch_adminhtml_cache_massrefresh>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAllByFpcClean</method>
                    </po_crawler_queue>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massrefresh>
            <!--for EE-->
            <catalog_product_save_after>
                <observers>
                    <po_crawler_add_product_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addProductPage</method>
                    </po_crawler_add_product_to_queue>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <po_crawler_add_category_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addCategoryPage</method>
                    </po_crawler_add_category_to_queue>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <po_crawler_add_cms_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addCms</method>
                    </po_crawler_add_cms_to_queue>
                </observers>
            </cms_page_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <po_crawler_add_product_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addProductFromStock</method>
                    </po_crawler_add_product_to_queue>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <po_crawler_add_product_to_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addProductPages</method>
                    </po_crawler_add_product_to_queue>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
        <helpers>
            <po_crawler>
                <class>Potato_Crawler_Helper</class>
            </po_crawler>
        </helpers>
        <blocks>
            <po_crawler>
                <class>Potato_Crawler_Block</class>
            </po_crawler>
        </blocks>
        <models>
            <po_crawler>
                <class>Potato_Crawler_Model</class>
                <resourceModel>po_crawler_resource</resourceModel>
            </po_crawler>
            <po_crawler_resource>
                <class>Potato_Crawler_Model_Resource</class>
                <entities>
                    <queue>
                        <table>po_crawler_queue</table>
                    </queue>
                    <popularity>
                        <table>po_crawler_popularity</table>
                    </popularity>
                    <counter>
                        <table>po_crawler_counter</table>
                    </counter>
                </entities>
            </po_crawler_resource>
        </models>
        <resources>
            <po_crawler_setup>
                <setup>
                    <module>Potato_Crawler</module>
                </setup>
            </po_crawler_setup>
            <po_crawler_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_crawler_write>
            <po_crawler_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_crawler_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_crawler>
                    <file>po_crawler.xml</file>
                </po_crawler>
            </updates>
        </layout>
        <events>
            <core_clean_cache>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </core_clean_cache>
            <clean_catalog_images_cache_after>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </clean_catalog_images_cache_after>
            <clean_media_cache_after>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </clean_media_cache_after>
            <controller_action_postdispatch_adminhtml_system_currency_saveRates>
                <po_crawler_queue>
                    <type>singleton</type>
                    <class>po_crawler/observer_queue</class>
                    <method>addAll</method>
                </po_crawler_queue>
            </controller_action_postdispatch_adminhtml_system_currency_saveRates>
            <controller_action_postdispatch_adminhtml_system_currencysymbol_save>
                <po_crawler_queue>
                    <type>singleton</type>
                    <class>po_crawler/observer_queue</class>
                    <method>addAll</method>
                </po_crawler_queue>
            </controller_action_postdispatch_adminhtml_system_currencysymbol_save>
            <catalogrule_rule_save_after>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </catalogrule_rule_save_after>
            <adminhtml_cache_flush_system>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </adminhtml_cache_flush_system>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addAll</method>
                    </po_crawler_queue>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <potato_crawler_add_to_queue>
                <observers>
                    <po_crawler_queue>
                        <type>singleton</type>
                        <class>po_crawler/observer_queue</class>
                        <method>addStore</method>
                    </po_crawler_queue>
                </observers>
            </potato_crawler_add_to_queue>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <po_crawler before="Mage_Adminhtml">Potato_Crawler_Adminhtml</po_crawler>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <po_crawler>
            <general>
                <enabled>0</enabled>
                <acceptable_cpu_load>90</acceptable_cpu_load>
                <cronjob>0 2 * * *</cronjob>
            </general>
            <priority>
                <store_priority>1</store_priority>
                <page_group_priority>1,2,3</page_group_priority>
                <customer_group>guest</customer_group>
                <protocol>http</protocol>
            </priority>
            <advanced>
                <debug>0</debug>
                <useragent>a:1:{s:18:"_1429288830188_188";a:2:{s:5:"title";s:15:"Magento Crawler";s:9:"useragent";s:14:"MagentoCrawler";}}</useragent>
                <source>1</source>
                <short_product_url>0</short_product_url>
                <debug>0</debug>
                <use_popularity>0</use_popularity>
            </advanced>
        </po_crawler>
    </default>
    <crontab>
        <jobs>
            <po_crawler>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>po_crawler/observer_queue::cronProcess</model>
                </run>
            </po_crawler>
        </jobs>
    </crontab>
</config>