<?xml version="1.0"?>
<config>
    <modules>
        <Potato_FullPageCache>
            <version>1.6.2</version>
            <platform>ce</platform>
        </Potato_FullPageCache>
    </modules>
    <global>
        <helpers>
            <po_fpc>
                <class>Potato_FullPageCache_Helper</class>
            </po_fpc>
        </helpers>
        <cache>
            <types>
                <po_fpc translate="label,description" module="po_fpc">
                    <label>PotatoCommerce FPC</label>
                    <description>Full page caching.</description>
                    <tags>PO_FPC</tags>
                </po_fpc>
            </types>
        </cache>
        <models>
            <po_fpc>
                <class>Potato_FullPageCache_Model</class>
                <resourceModel>po_fpc_resource</resourceModel>
            </po_fpc>
            <po_fpc_resource>
                <class>Potato_FullPageCache_Model_Resource</class>
                <entities>
                    <storage>
                        <table>po_fpc_storage</table>
                    </storage>
                    <popularity>
                        <table>po_fpc_popularity</table>
                    </popularity>
                    <statistics>
                        <table>po_fpc_statistics</table>
                    </statistics>
                    <crawler_queue>
                        <table>po_fpc_crawler_queue</table>
                    </crawler_queue>
                </entities>
            </po_fpc_resource>
            <core>
                <rewrite>
                    <session>Potato_FullPageCache_Model_Core_Session</session>
                </rewrite>
            </core>
        </models>
        <resources>
            <po_fpc_setup>
                <setup>
                    <module>Potato_FullPageCache</module>
                </setup>
            </po_fpc_setup>
            <po_fpc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_fpc_write>
            <po_fpc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_fpc_read>
        </resources>
        <blocks>
            <po_fpc>
                <class>Potato_FullPageCache_Block</class>
            </po_fpc>
            <core>
                <rewrite>
                    <messages>Potato_FullPageCache_Block_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <events>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cleanCache</method>
                    </po_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <!--for EE 1.14.3.2 duplicate event here-->
            <controller_action_predispatch_adminhtml_cache_massrefresh>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cleanCache</method>
                    </po_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massrefresh>
            <!--for EE-->
            <catalog_product_save_after>
                <observers>
                    <po_fpc_update_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>productSaveAfter</method>
                    </po_fpc_update_product_cache>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <po_fpc_update_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>productDelete</method>
                    </po_fpc_update_product_cache>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <po_fpc_update_category_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>categorySaveAfter</method>
                    </po_fpc_update_category_cache>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <po_fpc_update_category_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>categoryDelete</method>
                    </po_fpc_update_category_cache>
                </observers>
            </catalog_category_delete_after>
            <cms_page_save_after>
                <observers>
                    <po_fpc_update_cms_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cmsSaveAfter</method>
                    </po_fpc_update_cms_cache>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_after>
                <observers>
                    <po_fpc_update_cms_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cmsDelete</method>
                    </po_fpc_update_cms_cache>
                </observers>
            </cms_page_delete_after>
            <review_save_after>
                <observers>
                    <po_fpc_review_save_after>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>reviewSaveAfter</method>
                    </po_fpc_review_save_after>
                </observers>
            </review_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <po_fpc_clear_cache_by_stock_update>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>stockItemSaveAfter</method>
                    </po_fpc_clear_cache_by_stock_update>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <po_fpc_clear_cache_by_attribute_update>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>productAttributeUpdate</method>
                    </po_fpc_clear_cache_by_attribute_update>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
        <ignore_user_agents>
            <cache_crawler>MagentoCrawler</cache_crawler>
        </ignore_user_agents>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_fpc>
                    <file>po_fpc.xml</file>
                </po_fpc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_FullPageCache>
                    <files>
                        <default>Potato_FullPageCache.csv</default>
                    </files>
                </Potato_FullPageCache>
            </modules>
        </translate>
        <events>
            <core_clean_cache>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cleanCache</method>
                    </po_fpc>
                </observers>
            </core_clean_cache>
            <clean_catalog_images_cache_after>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>flushImagesCache</method>
                    </po_fpc>
                </observers>
            </clean_catalog_images_cache_after>
            <clean_media_cache_after>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>flushMediaCache</method>
                    </po_fpc>
                </observers>
            </clean_media_cache_after>
            <controller_action_postdispatch_adminhtml_system_currency_saveRates>
                <po_fpc_product_cache>
                    <type>singleton</type>
                    <class>po_fpc/observer_autoClean</class>
                    <method>saveRates</method>
                </po_fpc_product_cache>
            </controller_action_postdispatch_adminhtml_system_currency_saveRates>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>cleanSystemCache</method>
                    </po_fpc>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_system_currencysymbol_save>
                <po_fpc_product_cache>
                    <type>singleton</type>
                    <class>po_fpc/observer_autoClean</class>
                    <method>currencySymbolSave</method>
                </po_fpc_product_cache>
            </controller_action_postdispatch_adminhtml_system_currencysymbol_save>
            <catalogrule_rule_save_after>
                <observers>
                    <po_fpc_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>catalogRuleSave</method>
                    </po_fpc_product_cache>
                </observers>
            </catalogrule_rule_save_after>
            <adminhtml_cache_flush_system>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>flushCache</method>
                    </po_fpc>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>flushCache</method>
                    </po_fpc>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <po_fpc before="Mage_Adminhtml">Potato_FullPageCache_Adminhtml</po_fpc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <po_fpc_cache_response>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>cacheResponse</method>
                    </po_fpc_cache_response>
                </observers>
            </http_response_send_before>
            <cms_page_render>
                <observers>
                    <po_fpc_register_cms_page>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>registerCmsPage</method>
                    </po_fpc_register_cms_page>
                </observers>
            </cms_page_render>
            <core_block_abstract_to_html_before>
                <observers>
                    <po_fpc_set_frame_tags>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>setFrameTags</method>
                    </po_fpc_set_frame_tags>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_login>
                <observers>
                    <po_fpc_update_customer_group_cookie>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>updateCustomerGroupCookie</method>
                    </po_fpc_update_customer_group_cookie>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>login</method>
                    </po_fpc_update_session_cache>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_logoutSuccess>
                <observers>
                    <po_fpc_update_customer_group_cookie>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>updateCustomerGroupCookie</method>
                    </po_fpc_update_customer_group_cookie>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>login</method>
                    </po_fpc_update_session_cache>
                </observers>
            </controller_action_postdispatch_customer_account_logoutSuccess>
            <checkout_cart_add_product_complete>
                <observers>
                    <po_fpc_update_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>updateProductCache</method>
                    </po_fpc_update_product_cache>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer_updater</class>
                        <method>cartUpdate</method>
                    </po_fpc_update_session_cache>
                </observers>
            </checkout_cart_add_product_complete>
            <catalog_product_compare_add_product>
                <observers>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>compare</method>
                    </po_fpc_update_session_cache>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>compare</method>
                    </po_fpc_update_session_cache>
                </observers>
            </catalog_product_compare_remove_product>
            <poll_vote_add>
                <observers>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>pollVoteAdd</method>
                    </po_fpc_update_session_cache>
                </observers>
            </poll_vote_add>
            <sales_quote_item_delete_before>
                <observers>
                    <!--po_fpc_update_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>updateProductCache</method>
                    </po_fpc_update_product_cache-->
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>cartUpdate</method>
                    </po_fpc_update_session_cache>
                </observers>
            </sales_quote_item_delete_before>
            <checkout_cart_update_items_after>
                <observers>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>cartUpdate</method>
                    </po_fpc_update_session_cache>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_product_add_after>
                <observers>
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>cartUpdate</method>
                    </po_fpc_update_session_cache>
                </observers>
            </checkout_cart_product_add_after>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <!--po_fpc_update_product_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_autoClean</class>
                        <method>updateProductCache</method>
                    </po_fpc_update_product_cache-->
                    <po_fpc_update_session_cache>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>cartUpdate</method>
                    </po_fpc_update_session_cache>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>
            <core_session_abstract_add_message>
                <observers>
                    <po_fpc_update_messages>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>messagesUpdate</method>
                    </po_fpc_update_messages>
                </observers>
            </core_session_abstract_add_message>
            <core_block_abstract_to_html_after>
                <observers>
                    <po_fpc_cache_skipped_blocks>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>cacheSkippedBlocks</method>
                    </po_fpc_cache_skipped_blocks>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <po_fpc_update_session_blocks>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>productView</method>
                    </po_fpc_update_session_blocks>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_postdispatch_wishlist>
                <observers>
                    <po_fpc_update_session_blocks>
                        <type>singleton</type>
                        <class>po_fpc/observer_updater</class>
                        <method>wishlist</method>
                    </po_fpc_update_session_blocks>
                </observers>
            </controller_action_postdispatch_wishlist>
        </events>
        <layout>
            <updates>
                <po_fpc>
                    <file>po_fpc.xml</file>
                </po_fpc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_FullPageCache>
                    <files>
                        <default>Potato_FullPageCache.csv</default>
                    </files>
                </Potato_FullPageCache>
            </modules>
        </translate>
    </frontend>
    <default>
        <po_fpc>
            <general>
                <max_allowed_size>1024</max_allowed_size>
                <mobile_detect>1</mobile_detect>
                <mobile_separate>0</mobile_separate>
                <auto_clean>1,2,3,4,5,6,7,8,9,10,11,12,13,14</auto_clean>
                <readme>https://potatocommerce.com/full-page-cache.html#readme</readme>
                <exclude_guide>https://potatocommerce.com/fpc-exclude</exclude_guide>
                <cronjob>0 * * * *</cronjob>
            </general>
            <debug>
                <enabled>0</enabled>
                <ip_addresses>127.0.0.1</ip_addresses>
                <block_name_hint>0</block_name_hint>
            </debug>
        </po_fpc>
    </default>
    <crontab>
        <jobs>
            <po_fpc_cron_update_by_catalog_rule>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>po_fpc/cron::updateByCatalogRule</model>
                </run>
            </po_fpc_cron_update_by_catalog_rule>
        </jobs>
    </crontab>
</config>